/* styles/LoadingScreen.css */

.spinner {
  position: relative;
  width: 100px;
  height: 100px;
}

.spinner div {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 5%;
  animation: spin 1.5s infinite linear;
}

.spinner .rect1 {
  top: 0;
  left: 40%;
  animation-delay: -0.45s;
}

.spinner .rect2 {
  top: 40%;
  right: 0;
  animation-delay: -0.3s;
}

.spinner .rect3 {
  bottom: 0;
  left: 40%;
  animation-delay: -0.15s;
}

.spinner .rect4 {
  top: 40%;
  left: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) translate(40px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(40px) rotate(-360deg);
  }
}

/* styles/LoadingScreen.css */
.spinner {
  position: relative;
  width: 100px;
  height: 100px;
}

.spinner div {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 5%;
  animation: spin 1.5s infinite linear;
}

.spinner .rect1 {
  top: 0;
  left: 40%;
  animation-delay: -0.45s;
}

.spinner .rect2 {
  top: 40%;
  right: 0;
  animation-delay: -0.3s;
}

.spinner .rect3 {
  bottom: 0;
  left: 40%;
  animation-delay: -0.15s;
}

.spinner .rect4 {
  top: 40%;
  left: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) translate(40px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(40px) rotate(-360deg);
  }
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* LoadingScreen.css */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  position: relative;
}

.loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 5px solid #fff;
  animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loading-spinner div:nth-child(1) {
  border-color: #fff transparent transparent transparent;
}

.loading-spinner div:nth-child(2) {
  border-color: transparent #fff transparent transparent;
  animation-delay: -0.3s;
}

.loading-spinner div:nth-child(3) {
  border-color: transparent transparent #fff transparent;
  animation-delay: -0.6s;
}

.loading-spinner div:nth-child(4) {
  border-color: transparent transparent transparent #fff;
  animation-delay: -0.9s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
